.table, tr:nth-child(odd){
    background-color: lightblue;
}
.table, tr:nth-child(even){
    background-color: blue;
}

a{
    display: block;
}

.profesoriucionica{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profesor{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.ucionica{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}